bbody {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.header img {
  float: left;
  width: 6vh;
  height: 6vh;
  margin-left: 2vh
}

.header h1 {
  color: black;
  font-family: 'Gaegu', sans-serif;
  font-size: 35px;
  font-weight: 100;
  line-height: 4vh;
  margin-left: 61vh;
  position: relative;
}

.header a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: 'Gaegu', sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-top: 0px;
  margin-left: 67vh;
}

h4 {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.category {
  width: 46vw;
  height: 40vh;
  transition: 0.65s;
  float: left;
  margin: 2vh;
}

.category a {
  color: #FFF;
  text-decoration: none;
}

.category h4 {
  color: black;
}

.category h2 {
  font-family: "IBM Plex Mono";
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
}

.inner {
  width: 28vw;
  height: 25vh;
  margin: 0 auto;
  padding: 2vh;
}

#writingDiv {
  background: #CAB;
  margin-right: 5vh;
}

#innerWrite {

}

#projectsDiv {
  background: #ABC;
}

#aboutDiv {
  background: #BAC;
  margin-top: 5vh;
}

#forbiddenDiv {
  background: #CBA;
  margin-left: 5vh;
  margin-top: 5vh;
}
