bbody {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.header img {
  float: left;
  width: 6vh;
  height: 6vh;
  margin-left: 1vh
}

.header h1 {
  color: black;
  font-family: 'Gaegu', sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 60px;
  margin-left: 10vh;
  position: relative;
}

h3 {
  color: black;
  font-family: 'Gaegu', sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-top: 0px;
  margin-left: 1vh;
}

h4 {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.category {
  width: 46vw;
  height: 40vh;
  transition: 0.65s;
  float: left;
  margin: 1vh;
}

.category a {
  color: #FFF;
  text-decoration: none;
}

.category h4 {
  color: black;
}

#writingDiv {
  background: #CAB;
  margin-right: 5vh;
}

#projectsDiv {
  background: #ABC;
}

#aboutDiv {
  background: #BAC;
  margin-top: 5vh;
}
